@font-face {
  font-family: 'Swis721_Md_BT_Medium_Italic';
  src: url('Swis721_Md_BT_Medium_Italic.eot');
  src: url('Swis721_Md_BT_Medium_Italic.eot?#iefix') format('embedded-opentype'),
       url('Swis721_Md_BT_Medium_Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-MediumItalic';
  src: url('Swiss721BT-MediumItalic.svg#Swiss721BT-MediumItalic') format('svg'),
       url('Swiss721BT-MediumItalic.ttf') format('truetype'),
       url('Swiss721BT-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

